<a href="https://colab.research.google.com/github/yakaralar/IE492/blob/master/prophet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
Â·Â·Â·Â·Â·Â·Â·Â·Â·Â·
Mounted at /content/drive

In [2]:
import os
import glob
import shutil
os.listdir()

['.config', 'drive', 'sample_data']

In [3]:
os.listdir("./drive/My Drive/colab_datas/IE 492")

['Comparison of methods.pdf',
 '1-s2.0-S1364032114000914-main.pdf',
 '1-s2.0-S0360544209002539-main.pdf',
 '1-s2.0-S1876610211043116-main.pdf',
 '1-s2.0-S0305048311001423-main.pdf',
 'weather_turkey_processed.zip',
 'Meta_L_makaleler',
 'all_data.feather',
 'UECM-15012015-20022020.csv',
 'RealTimeConsumption-01122014-09032020.csv',
 'updated_support-date_based_information.r',
 'ozel_gunler',
 'RealTimeConsumption_unholidayized.csv',
 'RealTimeConsumption_unhol_decomposed.csv',
 'RealTimeConsumption_holiday.csv',
 'HW_preds.csv',
 'kubi_preds',
 'HW_preds_new.csv',
 'arima_preds.csv',
 'arima_preds_datetime.csv']

In [4]:
shutil.copy("drive/My Drive/colab_datas/IE 492/RealTimeConsumption-01122014-09032020.csv","./")

'./RealTimeConsumption-01122014-09032020.csv'

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling
%matplotlib inline
from tqdm import tqdm_notebook as tqdm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Read cons df

In [6]:
# bruuuuuuuh
consumption_df=pd.read_csv("RealTimeConsumption-01122014-09032020.csv",encoding='latin-1')
consumption_df.columns=["Date","Hour","Consumption"]
consumption_df["Datetime"]=consumption_df["Date"]+" "+consumption_df["Hour"]
consumption_df["Consumption"]=consumption_df["Consumption"].apply(lambda x:x.replace(",","")).astype(float)
consumption_df["Datetime"]=pd.to_datetime(consumption_df["Datetime"],format="%d.%m.%Y %H:%M")
consumption_df

             Date   Hour  Consumption            Datetime
0      31.12.2015  00:00     29590.88 2015-12-31 00:00:00
1      31.12.2015  01:00     27785.43 2015-12-31 01:00:00
2      31.12.2015  02:00     26516.53 2015-12-31 02:00:00
3      31.12.2015  03:00     26091.62 2015-12-31 03:00:00
4      31.12.2015  04:00     25871.54 2015-12-31 04:00:00
...           ...    ...          ...                 ...
36715  09.03.2020  19:00         0.00 2020-03-09 19:00:00
36716  09.03.2020  20:00         0.00 2020-03-09 20:00:00
36717  09.03.2020  21:00         0.00 2020-03-09 21:00:00
36718  09.03.2020  22:00         0.00 2020-03-09 22:00:00
36719  09.03.2020  23:00         0.00 2020-03-09 23:00:00

[36720 rows x 4 columns]

In [7]:
consumption_df=consumption_df.loc[consumption_df["Datetime"]<pd.to_datetime("2020-03-04 00:00:00")]
consumption_df

             Date   Hour  Consumption            Datetime
0      31.12.2015  00:00     29590.88 2015-12-31 00:00:00
1      31.12.2015  01:00     27785.43 2015-12-31 01:00:00
2      31.12.2015  02:00     26516.53 2015-12-31 02:00:00
3      31.12.2015  03:00     26091.62 2015-12-31 03:00:00
4      31.12.2015  04:00     25871.54 2015-12-31 04:00:00
...           ...    ...          ...                 ...
36571  03.03.2020  19:00     37936.79 2020-03-03 19:00:00
36572  03.03.2020  20:00     37553.37 2020-03-03 20:00:00
36573  03.03.2020  21:00     36581.73 2020-03-03 21:00:00
36574  03.03.2020  22:00     35434.36 2020-03-03 22:00:00
36575  03.03.2020  23:00     33827.00 2020-03-03 23:00:00

[36576 rows x 4 columns]

## Datelar promosyon tipleri koyulacak, sonradan lineer regresyon direkt vermeme gerek yok

In [9]:
special_days_path="drive/My Drive/colab_datas/IE 492/ozel_gunler/*.csv"
special_day_df=pd.DataFrame()
exception=[]
for i in tqdm(glob.glob(special_days_path)):  
    a=pd.read_csv(i)
    try:
        a["special_day"]=np.full(len(a),a.columns[0])
        a.columns=["date","special_day"]
        special_day_df=pd.concat([special_day_df, a])
    except ValueError:
        exception.append(i)
        pass
special_day_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(FloatProgress(value=0.0, max=41.0), HTML(value='')))

          date   special_day
1   2010-06-20   babalargunu
2   2011-06-19   babalargunu
3   2012-06-17   babalargunu
4   2013-06-16   babalargunu
5   2014-06-15   babalargunu
..         ...           ...
6   2015-08-30  zaferbayrami
7   2016-08-30  zaferbayrami
8   2017-08-30  zaferbayrami
9   2018-08-30  zaferbayrami
10  2019-08-30  zaferbayrami

[10186 rows x 2 columns]

In [0]:
special_day_df["is"]=np.ones(len(special_day_df))
special_day_df=pd.pivot_table(special_day_df,index="date",columns="special_day").fillna(0).astype(int)
special_day_df.columns=['_'.join(i) for i in special_day_df.columns]
special_day_df=special_day_df.reset_index()

In [0]:
special_day_df=pd.merge(consumption_df,special_day_df,left_on="Date",right_on="date",how="left").drop(columns=["date"]).fillna(0)

In [12]:
special_day_df

             Date   Hour  ...  is_yilbasioncesi is_zaferbayrami
0      31.12.2015  00:00  ...               0.0             0.0
1      31.12.2015  01:00  ...               0.0             0.0
2      31.12.2015  02:00  ...               0.0             0.0
3      31.12.2015  03:00  ...               0.0             0.0
4      31.12.2015  04:00  ...               0.0             0.0
...           ...    ...  ...               ...             ...
36571  03.03.2020  19:00  ...               0.0             0.0
36572  03.03.2020  20:00  ...               0.0             0.0
36573  03.03.2020  21:00  ...               0.0             0.0
36574  03.03.2020  22:00  ...               0.0             0.0
36575  03.03.2020  23:00  ...               0.0             0.0

[36576 rows x 43 columns]

# peygamber

In [16]:
!pip install fbprophet --upgrade

Requirement already up-to-date: fbprophet in /usr/local/lib/python3.6/dist-packages (0.6)
Requirement already satisfied, skipping upgrade: Cython>=0.22 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.29.17)
Requirement already satisfied, skipping upgrade: cmdstanpy==0.4 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.4.0)
Requirement already satisfied, skipping upgrade: pystan>=2.14 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (2.19.1.1)
Requirement already satisfied, skipping upgrade: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (1.18.4)
Requirement already satisfied, skipping upgrade: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (1.0.3)
Requirement already satisfied, skipping upgrade: matplotlib>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (3.2.1)
Requirement already satisfied, skipping upgrade: LunarCalendar>=0.0.9 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.0.9)
Requirement already satisfied, skipping upgrade: convertdate>=2.1.2 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (2.2.0)
Requirement already satisfied, skipping upgrade: holidays>=0.9.5 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.9.12)
Requirement already satisfied, skipping upgrade: setuptools-git>=1.2 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (1.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.8.0 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->fbprophet) (2018.9)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->fbprophet) (2.4.7)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.2.0)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.10.0)
Requirement already satisfied, skipping upgrade: ephem>=3.7.5.3 in /usr/local/lib/python3.6/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (3.7.7.1)
Requirement already satisfied, skipping upgrade: pymeeus<=1,>=0.3.6 in /usr/local/lib/python3.6/dist-packages (from convertdate>=2.1.2->fbprophet) (0.3.7)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from holidays>=0.9.5->fbprophet) (1.12.0)

In [0]:
from fbprophet import Prophet