<a href="https://colab.research.google.com/github/yakaralar/IE492/blob/master/weather_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import glob
import os
import requests
import shutil
from tqdm import tqdm_notebook as tqdm

In [0]:
stations=pd.read_csv("https://open.meteostat.net/stations.csv",header=None)
stations

           0   1                                2  ...       7    8              9
0      PABL0  US                 Buckland Airport  ...     NaN  BKC            NaN
1      01001  NO                        Jan Mayen  ...  1001.0  NaN    Europe/Oslo
2      01002  NO                         Grahuken  ...  1002.0  NaN    Europe/Oslo
3      01003  NO                         Hornsund  ...  1003.0  NaN    Europe/Oslo
4      01004  NO                    Ny-Alesund Ii  ...  1004.0  NaN    Europe/Oslo
...      ...  ..                              ...  ...     ...  ...            ...
30404  D5851  DE                          Herdorf  ...     NaN  NaN  Europe/Berlin
30405  D5930  DE  Garmisch-Partenkirchen (Kanker)  ...     NaN  NaN  Europe/Berlin
30406  D5958  DE              Glees (Laacher See)  ...     NaN  NaN  Europe/Berlin
30407  D9041  DE                         Zinnwald  ...     NaN  NaN  Europe/Berlin
30408  D9100  DE                   Neuwied-Torney  ...     NaN  NaN  Europe/Berlin

[30409 rows x 10 columns]

In [0]:
stations=stations.loc[~stations[7].isna()].reset_index(drop=True)
stations

           0   1               2         3  ...     6        7    8              9
0      01001  NO       Jan Mayen   70.9333  ...  ENJA   1001.0  NaN    Europe/Oslo
1      01002  NO        Grahuken   79.7833  ...   NaN   1002.0  NaN    Europe/Oslo
2      01003  NO        Hornsund   77.0000  ...   NaN   1003.0  NaN    Europe/Oslo
3      01004  NO   Ny-Alesund Ii   78.9167  ...  ENAS   1004.0  NaN    Europe/Oslo
4      01006  NO         Edgeoya   78.2333  ...   NaN   1006.0  NaN    Europe/Oslo
...      ...  ..             ...       ...  ...   ...      ...  ...            ...
16705  26636  LT      Svencionys  221.0000  ...   NaN  26636.0  NaN            NaN
16706  34868  RU       Iki-burul  111.8000  ...   NaN  34868.0  NaN            NaN
16707  37144  RU     Prohladnaya  199.0000  ...   NaN  37144.0  NaN            NaN
16708  03351  GB  Rostherne No 2   35.0000  ...   NaN   3351.0  NaN  Europe/London
16709  10729  DE        Mannheim   49.5200  ...   NaN  10729.0  NaN  Europe/Berlin

[16710 rows x 10 columns]

In [0]:
tr_stations=stations.loc[stations[1]=="TR"].reset_index(drop=True)
tr_stations

         0   1                        2  ...        7    8                9
0    17022  TR                Zonguldak  ...  17022.0  ONQ  Europe/Istanbul
1    17024  TR                  Inebolu  ...  17024.0  NaN  Europe/Istanbul
2    17026  TR                    Sinop  ...  17026.0  NaN  Europe/Istanbul
3    17029  TR                   Samsun  ...  17029.0  SSX  Europe/Istanbul
4    17030  TR                   Samsun  ...  17030.0  NaN  Europe/Istanbul
..     ...  ..                      ...  ...      ...  ...              ...
130  17297  TR    Datca / Karg? Yaylas?  ...  17297.0  NaN  Europe/Istanbul
131  17302  TR  Antalya-bolge / Kaleici  ...  17302.0  NaN  Europe/Istanbul
132  17310  TR        Alanya / Cikcilli  ...  17310.0  NaN  Europe/Istanbul
133  17355  TR    Osmaniye / Kesmeburun  ...  17355.0  NaN  Europe/Istanbul
134  17380  TR           Kas / Bay?nd?r  ...  17380.0  NaN  Europe/Istanbul

[135 rows x 10 columns]

In [0]:
tr_stations=tr_stations[[0,2,3,4]]
tr_stations.columns=["id","city","lat","lon"]

In [0]:
tr_stations

        id                     city      lat      lon
0    17022                Zonguldak  41.4500  31.8000
1    17024                  Inebolu  41.9833  33.7833
2    17026                    Sinop  42.0333  35.1667
3    17029                   Samsun  41.2667  36.3000
4    17030                   Samsun  41.2833  36.3333
..     ...                      ...      ...      ...
130  17297    Datca / Karg? Yaylas?  36.7000  27.6667
131  17302  Antalya-bolge / Kaleici  36.8667  30.7000
132  17310        Alanya / Cikcilli  36.5500  32.0000
133  17355    Osmaniye / Kesmeburun  37.1667  36.1667
134  17380           Kas / Bay?nd?r  36.2000  29.6500

[135 rows x 4 columns]

In [0]:
beg_date="2015-12-31"
end_date="2020-04-02"

hourly_stats={}
api_key="hidden because of privacy"
for id_ in tqdm(tr_stations["id"].values):
    url="https://api.meteostat.net/v1/history/hourly?station={station_id}&start={start_time}&end={ending_time}&key={api_key}".format(station_id=id_,start_time=beg_date,ending_time=end_date,api_key=api_key)
    req=requests.get(url)
    weather_df=pd.DataFrame.from_dict(req.json()["data"])
    weather_df
    weather_df["id"]=id_
    hourly_stats[id_]=weather_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=135.0), HTML(value='')))

In [0]:
hourly_weather_stats=pd.concat(hourly_stats.values())
hourly_weather_stats

                      time  temperature  dewpoint  ...  pressure condition     id
0      2015-12-31 00:00:00         -1.1      -6.8  ...    1026.8       NaN  17022
1      2015-12-31 01:00:00         -1.2      -6.9  ...    1026.8       NaN  17022
2      2015-12-31 02:00:00         -2.6      -4.8  ...    1026.9       NaN  17022
3      2015-12-31 03:00:00         -3.6      -4.9  ...    1026.7       NaN  17022
4      2015-12-31 04:00:00         -2.6      -4.9  ...    1026.3       NaN  17022
...                    ...          ...       ...  ...       ...       ...    ...
16339  2020-04-02 19:00:00          7.5       5.5  ...    1012.8         2  17031
16340  2020-04-02 20:00:00          7.1       5.6  ...    1012.3         3  17031
16341  2020-04-02 21:00:00          8.5       6.3  ...    1011.5         3  17031
16342  2020-04-02 22:00:00          6.6       5.2  ...    1011.3         3  17031
16343  2020-04-02 23:00:00          6.6       5.5  ...    1010.9         3  17031

[1574555 rows x 14 columns]

In [0]:
# 54 den 38 e dÃ¼ÅŸtÃ¼ worth
available_ids=hourly_weather_stats.loc[hourly_weather_stats["time"].str.startswith("2015-12-31 00:")]["id"].values
len(available_ids)

38

In [0]:
hourly_weather_stats=hourly_weather_stats.loc[hourly_weather_stats["id"].isin(available_ids)].reset_index(drop=True)

In [0]:
hourly_weather_stats=hourly_weather_stats.rename(columns={"time":"date"})
hourly_weather_stats['date']=pd.to_datetime(hourly_weather_stats['date'])

In [0]:
dates=pd.date_range(beg_date,end_date, freq='1H')
dates

DatetimeIndex(['2015-12-31 00:00:00', '2015-12-31 01:00:00',
               '2015-12-31 02:00:00', '2015-12-31 03:00:00',
               '2015-12-31 04:00:00', '2015-12-31 05:00:00',
               '2015-12-31 06:00:00', '2015-12-31 07:00:00',
               '2015-12-31 08:00:00', '2015-12-31 09:00:00',
               ...
               '2020-04-01 15:00:00', '2020-04-01 16:00:00',
               '2020-04-01 17:00:00', '2020-04-01 18:00:00',
               '2020-04-01 19:00:00', '2020-04-01 20:00:00',
               '2020-04-01 21:00:00', '2020-04-01 22:00:00',
               '2020-04-01 23:00:00', '2020-04-02 00:00:00'],
              dtype='datetime64[ns]', length=37297, freq='H')

In [0]:
hourly_weather_stats["rounded_date"] = hourly_weather_stats['date'].dt.round('H')
hourly_weather_stats

                       date  temperature  ...     id        rounded_date
0       2015-12-31 00:00:00         -1.1  ...  17022 2015-12-31 00:00:00
1       2015-12-31 01:00:00         -1.2  ...  17022 2015-12-31 01:00:00
2       2015-12-31 02:00:00         -2.6  ...  17022 2015-12-31 02:00:00
3       2015-12-31 03:00:00         -3.6  ...  17022 2015-12-31 03:00:00
4       2015-12-31 04:00:00         -2.6  ...  17022 2015-12-31 04:00:00
...                     ...          ...  ...    ...                 ...
1335014 2020-04-02 19:00:00          7.0  ...  17241 2020-04-02 19:00:00
1335015 2020-04-02 20:00:00          8.0  ...  17241 2020-04-02 20:00:00
1335016 2020-04-02 21:00:00          7.5  ...  17241 2020-04-02 21:00:00
1335017 2020-04-02 22:00:00          6.0  ...  17241 2020-04-02 22:00:00
1335018 2020-04-02 23:00:00          6.0  ...  17241 2020-04-02 23:00:00

[1335019 rows x 15 columns]

In [0]:
hourly_weather_stats.drop(columns=["date"]).groupby("rounded_date")

         temperature  dewpoint  humidity  ...    lat      lon        rounded_date
0               -1.1      -6.8      65.0  ...  41.45  31.8000 2015-12-31 00:00:00
1               -1.2      -6.9      65.0  ...  41.45  31.8000 2015-12-31 01:00:00
2               -2.6      -4.8      85.0  ...  41.45  31.8000 2015-12-31 02:00:00
3               -3.6      -4.9      91.0  ...  41.45  31.8000 2015-12-31 03:00:00
4               -2.6      -4.9      84.0  ...  41.45  31.8000 2015-12-31 04:00:00
...              ...       ...       ...  ...    ...      ...                 ...
1335014          7.0       5.0      87.0  ...  37.85  30.3667 2020-04-02 19:00:00
1335015          8.0       4.9      81.0  ...  37.85  30.3667 2020-04-02 20:00:00
1335016          7.5       3.5      76.0  ...  37.85  30.3667 2020-04-02 21:00:00
1335017          6.0       3.0      81.0  ...  37.85  30.3667 2020-04-02 22:00:00
1335018          6.0       2.1      76.0  ...  37.85  30.3667 2020-04-02 23:00:00

[1335019 rows x 17 columns]

In [0]:
temp_humid_wind_data=hourly_weather_stats[["rounded_date","id","temperature","dewpoint","humidity","windspeed"]]
temp_humid_wind_data=temp_humid_wind_data.sort_values(by="rounded_date").reset_index(drop=True)

In [0]:
temp_humid_wind_data=pd.pivot_table(temp_humid_wind_data,index="rounded_date",columns="id",values=["temperature","dewpoint","humidity","windspeed"])
temp_humid_wind_data.columns

MultiIndex([( 'dewpoint', '17022'),
            ( 'dewpoint', '17038'),
            ( 'dewpoint', '17060'),
            ( 'dewpoint', '17082'),
            ( 'dewpoint', '17086'),
            ( 'dewpoint', '17090'),
            ( 'dewpoint', '17092'),
            ( 'dewpoint', '17096'),
            ( 'dewpoint', '17098'),
            ( 'dewpoint', '17112'),
            ...
            ('windspeed', '17244'),
            ('windspeed', '17260'),
            ('windspeed', '17280'),
            ('windspeed', '17282'),
            ('windspeed', '17290'),
            ('windspeed', '17295'),
            ('windspeed', '17300'),
            ('windspeed', '17350'),
            ('windspeed', '17352'),
            ('windspeed', '17370')],
           names=[None, 'id'], length=152)

In [0]:
trans_dict=tr_stations[["id","city"]].set_index("id").to_dict()["city"]

In [0]:
temp_humid_wind_data.columns=[i[0]+"_"+trans_dict[i[1]] for i in temp_humid_wind_data.columns]

In [0]:
temp_humid_wind_data

                     dewpoint_Zonguldak  ...  windspeed_Iskenderun
rounded_date                             ...
2015-12-31 00:00:00                -6.8  ...                  18.4
2015-12-31 01:00:00                -6.9  ...                   NaN
2015-12-31 02:00:00                -4.8  ...                   NaN
2015-12-31 03:00:00                -4.9  ...                  13.0
2015-12-31 04:00:00                -4.9  ...                   NaN
...                                 ...  ...                   ...
2020-04-02 19:00:00                 7.3  ...                   NaN
2020-04-02 20:00:00                 7.0  ...                   NaN
2020-04-02 21:00:00                 8.2  ...                   NaN
2020-04-02 22:00:00                 7.2  ...                   NaN
2020-04-02 23:00:00                 7.0  ...                   NaN

[37318 rows x 152 columns]

In [0]:
temp_humid_wind_data=temp_humid_wind_data.interpolate(method="time")

In [0]:
temp_humid_wind_data

                     dewpoint_Zonguldak  ...  windspeed_Iskenderun
rounded_date                             ...
2015-12-31 00:00:00                -6.8  ...             18.400000
2015-12-31 01:00:00                -6.9  ...             16.600000
2015-12-31 02:00:00                -4.8  ...             14.800000
2015-12-31 03:00:00                -4.9  ...             13.000000
2015-12-31 04:00:00                -4.9  ...              9.266667
...                                 ...  ...                   ...
2020-04-02 19:00:00                 7.3  ...              3.600000
2020-04-02 20:00:00                 7.0  ...              3.600000
2020-04-02 21:00:00                 8.2  ...              3.600000
2020-04-02 22:00:00                 7.2  ...              3.600000
2020-04-02 23:00:00                 7.0  ...              3.600000

[37318 rows x 152 columns]

In [0]:
temp_humid_wind_data=temp_humid_wind_data.reset_index()

In [0]:
temp_humid_wind_data=pd.merge(pd.DataFrame(dates,columns=["rounded_date"]),temp_humid_wind_data.groupby("rounded_date").mean(),on="rounded_date",how="left").set_index("rounded_date")
temp_humid_wind_data=temp_humid_wind_data.interpolate(method="time")
temp_humid_wind_data

                     dewpoint_Zonguldak  ...  windspeed_Iskenderun
rounded_date                             ...
2015-12-31 00:00:00                -6.8  ...             18.400000
2015-12-31 01:00:00                -6.9  ...             16.600000
2015-12-31 02:00:00                -4.8  ...             14.800000
2015-12-31 03:00:00                -4.9  ...             13.000000
2015-12-31 04:00:00                -4.9  ...              9.266667
...                                 ...  ...                   ...
2020-04-01 20:00:00                 6.1  ...              5.100000
2020-04-01 21:00:00                 7.1  ...              4.950000
2020-04-01 22:00:00                 5.8  ...              4.800000
2020-04-01 23:00:00                 5.9  ...              4.650000
2020-04-02 00:00:00                 6.6  ...              4.500000

[37297 rows x 152 columns]

In [0]:
temp_humid_wind_data.isna().sum().sum()

0

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
os.listdir("drive/My Drive/colab_datas/IE 492")

['Comparison of methods.pdf',
 '1-s2.0-S1364032114000914-main.pdf',
 '1-s2.0-S0360544209002539-main.pdf',
 '1-s2.0-S1876610211043116-main.pdf',
 '1-s2.0-S0305048311001423-main.pdf',
 'weather_turkey_processed.zip',
 'Meta_L_makaleler',
 'all_data.feather',
 'UECM-15012015-20022020.csv',
 'RealTimeConsumption-01122014-09032020.csv',
 'updated_support-date_based_information.r',
 'ozel_gunler',
 'RealTimeConsumption_unholidayized.csv',
 'RealTimeConsumption_unhol_decomposed.csv',
 'RealTimeConsumption_holiday.csv',
 'HW_preds.csv',
 'kubi_preds',
 'HW_preds_new.csv',
 'arima_preds.csv',
 'arima_preds_datetime.csv',
 'gpw_v4_admin_unit_center_points_population_estimates_rev11_tur.csv',
 'gpw-v4-country-level-summary-rev11.xlsx',
 'gpw-v4-documentation-rev11.pdf',
 'lasso_coeffs.csv',
 'lasso_coeffs_new.csv',
 'kubi_weather_data_20151231-2020-04-02.csv']

In [0]:
temp_humid_wind_data.to_csv("drive/My Drive/colab_datas/IE 492/kubi_temp_humid_wind_data_20151231-2020-04-02.csv")

In [0]:
hourly_weather_stats.to_csv("drive/My Drive/colab_datas/IE 492/kubi_weather_data_20151231-2020-04-02.csv",index=False)

# date rounding

In [0]:
dates_=pd.DataFrame(hourly_weather_stats["time"])
dates_["hour_part"]=dates_["time"].apply(lambda x:x.split(" ")[1])
dates_["time"]=pd.to_datetime(dates_["time"])
dates_

                       time hour_part
0       2015-12-31 00:00:00  00:00:00
1       2015-12-31 01:00:00  01:00:00
2       2015-12-31 02:00:00  02:00:00
3       2015-12-31 03:00:00  03:00:00
4       2015-12-31 04:00:00  04:00:00
...                     ...       ...
1335014 2020-04-02 19:00:00  19:00:00
1335015 2020-04-02 20:00:00  20:00:00
1335016 2020-04-02 21:00:00  21:00:00
1335017 2020-04-02 22:00:00  22:00:00
1335018 2020-04-02 23:00:00  23:00:00

[1335019 rows x 2 columns]

In [0]:
dates_["hour_part"].value_counts()

06:00:00    58292
09:00:00    58242
12:00:00    58206
07:00:00    57616
10:00:00    57598
            ...
17:16:00        1
13:28:00        1
08:26:00        1
16:17:00        1
04:53:00        1
Name: hour_part, Length: 300, dtype: int64

In [0]:
dates_=pd.DataFrame(hourly_weather_stats["time"])
dates_["hour_part"]=dates_["time"].apply(lambda x:x.split(" ")[1])
dates_["time"]=pd.to_datetime(dates_["time"])
dates_

In [0]:
dates_['hour'] = dates_['time'].dt.round('H')
dates_

                       time hour_part                hour
0       2015-12-31 00:00:00  00:00:00 2015-12-31 00:00:00
1       2015-12-31 01:00:00  01:00:00 2015-12-31 01:00:00
2       2015-12-31 02:00:00  02:00:00 2015-12-31 02:00:00
3       2015-12-31 03:00:00  03:00:00 2015-12-31 03:00:00
4       2015-12-31 04:00:00  04:00:00 2015-12-31 04:00:00
...                     ...       ...                 ...
1335014 2020-04-02 19:00:00  19:00:00 2020-04-02 19:00:00
1335015 2020-04-02 20:00:00  20:00:00 2020-04-02 20:00:00
1335016 2020-04-02 21:00:00  21:00:00 2020-04-02 21:00:00
1335017 2020-04-02 22:00:00  22:00:00 2020-04-02 22:00:00
1335018 2020-04-02 23:00:00  23:00:00 2020-04-02 23:00:00

[1335019 rows x 3 columns]

In [0]:
dates_["hour"].value_counts()

6     58854
9     58468
12    58405
8     57847
11    57820
7     57798
10    57790
14    57726
15    57686
13    57657
18    57372
3     56905
21    56414
5     56074
16    55674
17    55533
0     55442
4     53160
2     53086
20    51861
19    51795
1     50860
22    50815
23    49977
Name: hour, dtype: int64